@import '../../index.scss';

.inputForm {
  display: flex;
  flex-direction: column;
  row-gap: 3px;

  &__field {
    padding: 8px 12px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 14px;
    line-height: 24px;
    color: $text-color;

    &::-webkit-passman-key {
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      right: 0;
    }

    &:focus {
      outline: 1px solid #1890ff;
    }
  }

  &__field__error {
    border: 1px solid #f5222d;
    &:focus {
      outline: none;
    }
  }

  &__field__success {
    border: 1px solid #52c41a;
    background: url('../../assets/img/check.svg') no-repeat 98% 50%;
    background-size: 18px;

    &:focus {
      outline: none;
    }
  }

  &__error {
    font-size: 14px;
    line-height: 22px;
    color: #f5222d;
    animation: errorMessage 0.4s;
  }
}

@keyframes errorMessage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

input::-webkit-passman-key {
  display: none;
}
